body {
  font-family: Montserrat;
}
table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  border: none;
}
td {
  text-align: left;
  padding: 8px;
  background-color: white;
}
tr {
border: 10px solid #E6E6FA;
}
.horizontal { 
  border-left: 2px solid #E6E6FA;
}
h1 {
  text-align: center;
}
.button {
  background-color: #FF4500;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 30px;
}
#trip {
  color: grey;
  font-size: 12px;
}